DIRECT_WRITE_CIS
Customer Revenue = 6000
Customer Impact = 6000
; Report Testing=ON

; Date formats
; DB2
; DATEFORMAT = %Y-%m-%d-%H.%M.%S.000000
; Oracle
; DATEFORMAT = %d-%b-%y %I:%M:%S.000%p
; DATEFORMAT = %d-%b-%y
; Sybase
; DATEFORMAT = %b %d %Y %I:%M:%S.000%p


; Default CIS file name for BillingExpert
; CISFILENAME = r:\powrline\user\powrline.cis

; ODBC settings
; SQL_ODBC_CURSORS = SQL_CUR_USE_DRIVER
; SQL_CURSOR_TYPE = SQL_CURSOR_KEYSET_DRIVEN
; SQL_CONCURRENCY = SQL_CONCUR_VALUES
; SQL_CONNECT_OPT_DRVR_OPT1 = 1204
; SQL_CONNECT_OPT_DRVR_PARAM1 = 1
; SUPPORTS_ODBC_SQL_DATE_TYPE = FALSE


; Display Tool Location (required for Substation Analysis graphs)
; DISPLAY TOOL=C:\POWRLINE\SUBSTA\DISPTOOL.EXE
; CHANNEL10 = 1
CISFILENAME=C:\Progra~2\Lodestar\CIS_POWRLINE_NEWDEV\pbinter.cis
;CISFILENAME=\\chadapp7\apps\Lodestar\cis_powrline\powrline.cis
MV90MAPFILE=\\chapwpbs01\apps\Lodestar\mv90map.txt
MV90_IMPORT=1
MV90_CM_SIC_PI = 1
DEBUGPARM = 1
;RCDATADIR=\\knxknxweb2\LODESTAR\RCDATA.BX_TEST
ENHANCED_PRECISION_SWITCH
CISFORMAT = C:\Progra~2\Lodestar\bin\cisformt.txt
NODEFAULTUSER = true
;NO_GRAPH_LIMIT_MESSAGE
SAVE_TO_TABLE_ADDFIRST=1 